@{
    ViewData["Title"] = "Admin Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Admin Paneline Hoş Geldiniz</h1>
    <p>Sol üst menüden personel ve görev yönetimi yapabilirsiniz.</p>
</div>